 .moredeals{
  display: flex;
  flex-direction: row-reverse;
}
button{
  color: red;
  position: absolute;
  top: 30px;
}
.App{
  /* display: flex;
  flex-direction: row; */
  justify-content: space-between;
  text-align: center;
}
.each{
  display: flex;
  justify-content: space-evenly;
}
img{
  width: 90%;
  display: block;
} 
.cards{
  border-style: solid;
  width: 20%;
  height: 60vh;
  margin-top: 100px;
}
.info{
  text-align: center;
}
.cars{
  text-align: center;
}
.stock{
  margin: 10px;
  color: red;
  position: absolute;
  top: 660px;
}
.prices{
  color: red;
}
